<header class="">
  <div class="bg-primary text-white py-3">
    <div class="container d-flex justify-content-between align-items-center">
      <h1 class="h3 m-0">
        <a href="index.html" class="text-white text-decoration-none">
          Handi<strong class="fw-bold">News</strong>
        </a>
      </h1>

      <a href="#" class="btn btn-warning fw-bold text-dark d-none d-sm-block">
        NEWSLETTER
      </a>
    </div>
  </div>

  <nav class="shadow-sm bg-white border-bottom">
    <ul class="nav d-flex justify-content-start gap-4 py-6 container">
      <li class="nav-item">
        <a class="nav-link text-primary fw-bold hover-link" href="index.html"
          >Accueil</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-primary fw-bold hover-link"
          href="actualites.html"
          >Actualités</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-primary fw-bold hover-link"
          href="innovation.html"
          >Innovation</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-primary fw-bold hover-link" href="contact.html"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
</header>
