* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}
#hero {
  margin: 3% 30%;
  border: 2px solid red;
}
.bloc_contact {
  margin: 0px 80px;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.bloc_contact .bloc_img img {
  width: 500px;
}
.bloc_contact .bg-white {
  border: 2px solid red;
  width: 100%;
}
