* {
  padding: 0;
  margin: 0;
  box-shadow: border-box;
}
body {
  margin: 0px 15px;
}

/*{}*/
header div {
  background: #3b82c4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  box-shadow: 0 4px 6px rgba(100, 150, 243, 0.1);
}
header nav {
  /* border: 2px solid red; */
  background-color: white;
  display: flex;
  text-align: right;
  gap: 3rem;
  padding: 12px 30px;
  list-style-type: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
header nav ul li a {
  list-style-type: none;
}
header nav a {
  color: #3b82c4;
  font-weight: 600;
  font-size: 20px;
}
