/* {
  
} */
* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}
#explorer {
  margin: 40px 70px;
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#explorer .card_imge img {
  width: 620px;
  height: 520px;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;
}

/*=====================Coté droit texte de la session================================*/

#explorer .card_texte span {
  color: #ffc107;
}
#explorer .card_texte h2 {
  font-size: 2.8rem;
  font-weight: 800;
}
#explorer .card_texte h4 {
  font-size: 0.8rem;
  font-weight: 800;
}
#explorer #block_categories .categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 5px 10px;
  margin: 10px 0px;
  background-color: #c1e8ff;
  border-radius: 8px;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
}

.categories .bg_bloc p:nth-of-type(1) {
  font-size: 1rem;
  font-weight: 800;
  text-decoration: underline;
  text-align: justify;
}
.categories .bg_bloc p:nth-of-type(2) {
  font-size: 0.85rem;
  text-align: justify;
}
.categories .bg-warning {
  text-align: center;
  width: 65px;
  height: 60px;
  padding: 8px;
  border-radius: 12px;
}

/* Responsive section explorer */

@media (max-width: 767px) {
  #explorer {
    flex-direction: column;
    margin: 20px;
    padding: 0;
    text-align: center;
  }

  #explorer .card_imge img {
    width: 100%;
    height: auto;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
  }

  #explorer .card_texte h2 {
    font-size: 1.4rem;
  }

  #explorer .card_texte h4 {
    font-size: 0.75rem;
  }

  #explorer #block_categories .categories {
    flex-direction: column;
    gap: 1rem;
    padding: 15px;
  }

  .categories .bg_bloc p {
    text-align: center;
  }

  .categories .bg-warning {
    margin: auto;
    width: 100%;
  }
  .categories .bg-warning .icon-handicap {
    font-size: 45px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #explorer {
    margin: 30px 40px;
    padding: 0 20px;
    gap: 1.5rem;
    max-width: 1200px;
    /* margin: 60px auto; */
  }

  #explorer .card_imge img {
    width: 520px;
    height: auto;
  }

  #explorer .card_texte h2 {
    font-size: 2.2rem;
  }

  #explorer #block_categories .categories {
    gap: 1.5rem;
  }
  #block_categories .categories .bg_bloc p {
    text-align: justify;
    font-size: 12px;
  }
}

/*Fin Responsive section explorer */

/*section id="videos_youtube"  */
#videos_youtube {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#videos_youtube .left_bloc .titre {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.3rem;
  /* border: 2px solid red; */
}
.left_bloc .titre .titre_bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.left_bloc .titre .color-red {
  width: 40px;
  border: 1px solid #23058f;
  background-color: #0d6efd;
}
.left_bloc .titre .color-gris {
  width: 100px;
  border: 1px solid #fcfcfd;
  background-color: #ece7ff;
}
.left_bloc .titre h2 {
  font-size: 18px;
  padding: 5px 0px;
  font-weight: 600;
  color: #0d6efd;
}
#videos_youtube .left_bloc img {
  width: 240px;
}
/* ============== ============ */
.left_bloc .description {
  padding: 10px 5px;
  margin: 10px 0px;
  max-width: 240px;
  height: 150px;
  background-color: #fcfcfd;
}

.description .btn_bloc {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.5rem;
}
.description .btn_bloc .btn-un {
  background-color: #ffc107;
  border: none;
  padding: 2px 5px;
  color: #fcfcfd;
  font-weight: 600;
  font-size: 12px;
}
.description .btn-deux {
  background-color: #0d6efd;
  border: none;
  padding: 5px 8px;
  color: #fcfcfd;
  font-weight: 600;
  font-size: 14px;
}
.description p {
  margin-top: 10px;
  font-weight: 600;
  font-size: 16px;
  font-style: italic;
}
.description h5 {
  font-weight: 600;
  font-size: 16px;
  color: #0d6efd;
}
/*=============*/
#videos_youtube .middle_bloc {
  width: 35%;
  height: 100%;
}
.middle_bloc .titre .color-red {
  width: 100%;
  border: 1px solid #23058f;
  background-color: #0d6efd;
}
.middle_bloc .titre h2 {
  font-size: 36px;
  margin-bottom: 8px;
  padding: 10px 0px;
  font-weight: 600;
  color: #0d6efd;
}
.middle_bloc #video-affichage {
  width: 100%;
  height: 100%;
}
/*=============*/
#videos_youtube #videos-container {
  width: 380px;
}

.video-item {
  padding: 10px 0px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.4rem;
  background-color: #ffffff;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  cursor: pointer;
}
.video-item.active {
  background: #ffe6e6;
  border-left: 4px solid #ff0000;
}

.thumbnail {
  /* width: 250px; */
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.thumbnail img {
  width: 130px;
  display: block;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 3.8rem;
  color: #e91010;
  background: white;
  border-radius: 50%;
  padding: 5px;
}

.video-item:hover .play-icon {
  transform: translate(-50%, -50%) scale(1.1);
}

.video-meta {
  width: 350px;
}
.video-meta h6 {
  text-decoration: underline;
  font-size: 25px;
}
.video-meta .videao-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-meta .videao-detail p {
  font-size: 0.75rem;
  color: #0d6efd;
  margin: 10px 0px;
}

.video-meta h6 {
  font-size: 1rem;
  font-weight: 600;
}

/*section id="videos_youtube"  */

/*  section technologies-assistance */
.technologies-assistance {
  /* margin: 40px 2px; */
  margin: 5% 0%;
}
.technologies-assistance .titre {
  margin-left: 9%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.technologies-assistance .titre .titre_bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.titre .titre_bloc .techtitre {
  color: #0d6efd;
  font-size: 35px;
  font-weight: 800;
}
.titre .titre_bloc .techcolor-red {
  width: 100px;
  border: 1px solid #23058f;
  background-color: #0d6efd;
}
.titre .techcolor-gris {
  width: 500px;
  border: 1px solid #fcfcfd;
  background-color: #ece7ff;
}

.videos-card-ref {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.video-item-card {
  width: 365px;
  height: 470px;

  background: #ffffff;
  border-radius: 4px;
  padding: 10px 20px;

  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
  cursor: pointer;

  scroll-snap-align: start;
  transition: transform 0.25s ease;
}

.video-item-card:hover {
  transform: scale(1.04);
}
.video-item-card .thumbnail img {
  width: 100%;
  height: 200px;
  /* margin-left: 20%; */
}
.video-item-card .video-meta {
  margin: 20px 0px;
}
.video-item-card .video-meta h6 {
  font-size: 18px;
  color: #0d6efd;
  font-weight: 600;
}
.video-item-card .video-meta .description {
  width: auto;
  color: #c7bbbb;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
}
.video-meta .video-detail .detail-bloc {
  width: 300px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.6rem;
}
.video-detail .detail-bloc .category {
  background-color: #ffc107;
  color: #fcfcfd;
  padding: 8px;
  font-size: 18px;
}

/*  section technologies-assistance */

/*  section technologies-assistance */

/*  section technologies-assistance */

/* Dernière  section partenaires */
#decouverte {
  text-align: center;
  width: 100%;
  height: 320px;
  background-color: #fcfcfd;
  color: #070707;
  overflow: hidden;
}
#decouverte h2 {
  margin-top: 4%;
  font-size: 30px;
  font-weight: 600;
}
#decouverte p {
  padding: 5px 0px;
  font-size: 25px;
  color: #adb2bb;
  font-weight: 300;
  text-transform: capitalize;
}
.search-form {
  width: 100%;
  background-color: #0d6efd;
  padding: 2px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  gap: 1rem;
  max-width: 480px;
  margin: 0 auto;
  position: relative;
}

.search-form input {
  width: 800px;
  padding: 5px;
  /* border-radius: 50px; */
  border: 1px solid #ccc;
  font-size: 1rem;
}
.search-form span {
  font-size: 40px;
  color: #fcfcfd;
  cursor: pointer;
}

/* Dernière  section partenaires */
