/* Application générale à tout le corps du texte */
body {
  font-family: "Inter", sans-serif;
}

/* Application spécifique aux titres */
h1,
h2,
h3 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

header nav a {
  font-weight: 600; /* Semi-gras pour les liens du menu */
}
/*================================ fichier html session a_propos =====================*/

#a_propos {
  margin: 40px 0px;
  /* width: 90%; */
  height: 450px;
  background-color: white;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  padding: 0px 15px;
}
/*================================================*/
#a_propos .container_imag {
  margin-top: 100px;
  margin-left: 40px;
  padding-left: 40px;
  width: 200px;
  text-align: center;
}
#a_propos .container_imag img {
  margin-left: 40px;
  border: 2px solid #ffc107;
  background-color: #ffc107;
  border-radius: 50%;
}
#a_propos .item_post_rignt {
  /* position: absolute;
  right: 6%; */
  margin-left: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#a_propos .item_post_rignt h3 {
  color: #ffc107;
  font-size: 12px;
  font-weight: 900;
  text-decoration: overline;
}
/*================================================*/
#a_propos .item_post_rignt .card-cntainer1 {
  position: relative;
  width: 380px;
  height: 540px;
  background-color: #0d6efd;
  color: white;
  padding: 8px 15px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
.item_post_rignt .card-cntainer1 ul {
  position: absolute;
  top: 30%;
  font-size: 15px;
}
.card-cntainer1 p {
  font-weight: bold;
  font-size: 20px;
}
.card-cntainer1 ul li {
  list-style: disc; /* Maintient le style de puce */
}

.card-cntainer1 ul li::marker {
  color: #ffc107;
  font-size: 1.3em;
}
.item_post_rignt .card-cntainer1 .cadre {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 60%;
}
.item_post_rignt .card-cntainer1 .cadre1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
}
.item_post_rignt .card-cntainer1 .cadre p {
  border: 2px solid white;
  font-size: 15px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.item_post_rignt .card-cntainer1 .cadre p:hover {
  border: 2px solid white;
  background-color: #ffc107;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.item_post_rignt .card-cntainer1 .cadre1 p {
  text-align: center;
  font-size: 15px;
  width: 120px;
  border: 2px solid white;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.item_post_rignt .card-cntainer1 .cadre1 p:hover {
  border: 2px solid white;
  background-color: #ffc107;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
/*================================================*/
#a_propos .item_post_rignt .card-cntainer {
  position: relative;
  width: 380px;
  height: 540px;
  color: white;
  /* border: 2px solid red; */
  background-color: #0d6efd;
  padding: 8px 15px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
.item_post_rignt .card-cntainer p {
  font-weight: bold;
  font-size: 18px;
}
.item_post_rignt .card-cntainer .cadre2 {
  position: absolute;
  top: 40%;
  border: 2px solid red;
}
.item_post_rignt .card-cntainer .cadre2 p {
  background-color: white;
  border-radius: 3px;
  padding: 5px;
  color: #0d6efd;
  font-size: 15px;
  font-weight: 400;
}

/*================================ fichier html session a_propos =====================*/
.Acteur_innovation {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c1e8ff;
}
.slide-content {
  margin: 0 40px;
}
.card {
  border-radius: 25px;
  background-color: #0d6efd;
}
.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  background: #0d6efd;
  padding: 3px;
  border-radius: 50%;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid white;
}

.card-wrapper {
}

/*================================ fichier html session innovation =====================*/
/* 
.card-list {
  background-color: white;
} */
.card-list .card-item {
  list-style: none;
}
.card-list .card-item .card-link {
  user-select: none;
  display: block;
  background: white;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  transition: 0.2s ease;
}
.card-list .card-item .card-link:hover {
  border-color: #ffc107;
}
.card-list .card-link .card-image {
  width: 90%;
  height: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 10px;
}
.card-list .card-link .badge {
  color: #0d6efd;
  font-weight: 500;
  font-size: 0.95rem;
  padding: 8px 16px;
  margin: 16px 0 18px;
  background: #ffc107;
  width: fit-content;
  border-radius: 50px;
}
.card-list .card-link .badge.deux {
  color: white;
  background: black;
}
/* .card-list .card-link .badge.deux {
  color: white;
  background: black;
}
.card-list .card-link .badge.deux {
  color: white;
  background: black;
} */
.card-list .card-link .card-title {
  font-size: 1.19rem;
  color: black;
  font-weight: 600;
}
.card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  color: #ffc107;
  border-radius: 50%;
  margin: 30px 0 5px;
  background: none;
  cursor: pointer;
  border: 2px solid #0d6efd;
  transform: rotate(-45deg);
  transition: 0.4s ease;
}
.card-list .card-link:hover .card-button {
  color: white;
  background: #ffc107;
}
